# Maven build artifacts
target/
*.class

# IDE and Project configuration files
.idea/
*.iml
.classpath
.project
.settings/
.ds_store
.DS_Store

# Local properties / secret overrides
src/main/resources/application-local.properties
src/main/resources/application-*.properties
!src/main/resources/application.properties
